---
import Badge from "@/components/Badge.astro";
import { getTranslations } from "@/translations/index.ts";

// Get the current locale
const { currentLocale } = Astro;

// Load the current translations
const translations = getTranslations(currentLocale);

interface Props {
    date: string;
    link?: string;
    tags?: Array<string>;
    title: string;
}

const { title, link, date, tags } = Astro.props;
---

<div
    class="absolute w-3 h-3 rounded-full mt-1.5 -start-1.5 border border-white bg-white dark:border-gray-800 dark:bg-gray-500"
>
</div>

<time class="mb-1 text-sm font-normal leading-none text-sky-200/80">
    {date}
</time>

<h3 class="text-lg font-semibold text-purple-200 mt-2">
    {title}
</h3>

{tags?.map((tag) => <Badge>{tag}</Badge>)}

<div class="mb-4 text-base font-normal text-gray-200 text-balance">
    <slot />
</div>

{
    link && (
        <a
            href={link}
            class="
                bg-white/5 
                border border-white/10 rounded-full
                inline-flex justify-center items-center gap-x-2
                py-1 px-2 md:py-2 md:px-4
                text-xs md:text-base
                transition
                hover:scale-110 hover:bg-white/10"
        >
            {translations.EXPERIENCE.KNOW_MORE}...
            <svg
                class="w-3 h-3 ms-2 rtl:rotate-180"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 10"
            >
                <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9"
                />
            </svg>
        </a>
    )
}
